<%= javascript_include_tag "jqplot.cursor" %>
<%= javascript_include_tag "custom" %>
<%= javascript_include_tag "jqplot.highlighter.min" %>
<script>
  var data = <%=raw @data.to_json %>;
</script>
<div id="chart1" style="height:600px;width:100%; "></div>
