<!DOCTYPE html>
<html>
<head>
  <title>JqplotApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!--[if IE]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
